.doacoesBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  height: auto;

  padding: 25px;
  gap: 25px;

  .aviso {
    font-size: 18px;
  }
}

form {
  height: 520px;
  min-width: 310px;
  width: 80%;
  max-width: 500px;
  padding: 25px 25px 0;
  border: 3px solid #005695;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: #005695;
    font-size: 15px;

    img {
      width: 48px;
    }
  }

  .inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    input {
      width: 100%;
      border: 2px solid #005695;
      border-radius: 15px;
      outline: none;

      padding: 15px 10px;

      font-size: 15px;

      &::placeholder {
        color: black;
        font-size: 15px;
      }
    }

    input[type="submit"] {
      background-color: #005695;
      color: white;

      cursor: pointer;
      width: 50%;
      font-size: 17px;
    }
  }
}
