header {
<<<<<<< HEAD
  width: 100%;
  padding: 20px;

=======
  height: 15dvh;
>>>>>>> 935d474398394afa56f550985d7010dcdcf45f7a
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;

  background: linear-gradient(
    90deg,
    rgba(0, 27, 47, 1) 0%,
    rgba(0, 86, 149, 1) 88%
  );
  color: white;

  .wrap_container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    nav {
      min-width: 300px;
      width: 50%;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          a {
            color: white;
          }
        }
      }
    }

    .input_container {
      min-width: 200px;
      width: 25%;
      input {
        background: url("../../assets/busca.png");
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: right 10px bottom 50%;

        width: 100%;
        padding: 10px 20px 10px 15px;

        color: white;
        font-size: 13px;

        border-radius: 20px;
        border: 2px solid white;

        &::placeholder {
          color: white;
          font-size: 13px;
        }

        &:focus {
          outline: none;
        }
      }
      @media (max-width: 770px) {
        display: none;
      }
    }
  }

<<<<<<< HEAD
  @media (max-width: 1011px) {
    justify-content: center;
=======
  @media (max-width: 770px) {
    flex-direction: column;
    height: 20dvh;

    justify-content: space-evenly;
    align-items: center;
>>>>>>> 935d474398394afa56f550985d7010dcdcf45f7a
  }
}

.logo_container {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 22px;
  }

  img {
    width: 45px;
  }
}
